<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="CT30A3204 capstone project." />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/website-manifest.json" />
    <title>xzymous</title>
    <% if (environment === 'production') { %>
      <link rel="stylesheet" href="<%= manifest['src/main.css'].file %>" />
      <% } %>

  </head>
  <body>
    <div id="root"></div>
    <% if (environment === 'production') { %>
    <script type="module" src="<%= manifest['src/main.jsx'].file %>"></script>
    <% } else { %>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.jsx"></script>
    <% } %>
  </body>
</html>